@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


*{
    margin:0;
}

body{
    background-image: url("images/butterfly2.jpg");
    background-size: 1536px 853px;
}

img{
    width:70%;
    width:100%;
    height: auto;
}

.index-main{
    margin-left:auto;
    margin-right:auto;
    margin-top:200px;
    text-align: center;
    width:50%;
    background-color: rgba(240, 248, 255, 0.79);
    box-shadow: 10px 15px 5px rgba(253, 252, 252, 0.405);
}

.index-main h1{
    font-family:'Dancing Script', cursive;
    font-size: 700%;
    
}

.index-main p{
    font-family:'Courier New', Courier, monospace;
    font-size: 200%;
}

.index-main p a{
    text-decoration: none;
    color:#b990bc;
}